

<h1 class="jumbotron homepage text-center">FreeSF36Five</h1>
      <p class="text-center">Where everything is Free</p>

 <div class="container-fluid bg-3 text-center">    
  
  <div class="row">
    <div class="col-sm-3">
    <a href="#" class="thumbnail">
      <p>Home</p>
      <img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/home-icon.png" class="img-responsive" style="width:50%" alt="Image">
      </a>
      <label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> select
</label>
    </div>

    <div class="col-sm-3"> 
    <a href="#" class="thumbnail">
      <p>Tools</p>
      
      <img src="https://openclipart.org/image/2400px/svg_to_png/192629/gear-tools.png" class="img-responsive" style="width:50%" alt="Image">
      </a>
      <label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> select
</label>
    </div>

    <div class="col-sm-3"> 
    <a href="#" class="thumbnail">
      <p>Clothing</p>
      <img src="https://images.freecreatives.com/wp-content/uploads/2015/09/Free-Clothing-Icons.jpg" class="img-responsive" style="width:50%" alt="Image">
      </a><label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> select
</label>
    </div>

    <div class="col-sm-3">
    <a href="#" class="thumbnail">
      <p>Entertainment</p>
      <img src="http://www.freeiconsweb.com/wp-content/uploads/2014/09/12-beautiful-leisure-entertainment-icon-vector.jpg" class="img-responsive" style="width:50%" alt="Image">
      </a><label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> select
</label>
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-3">
    <a href="#" class="thumbnail">
      <p>Family</p>
      <img src="https://cdn2.iconfinder.com/data/icons/marriage-life/500/family-512.png" class="img-responsive" style="width:50%" alt="Image">
      </a><label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> select
</label>
    </div>

    <div class="col-sm-3">
    <a href="#" class="thumbnail"> 
      <p>Electronics</p>
      <img src="https://www.tcc.edu/uploads/images/pages/programs/icons/electronic-technology-icon.png" class="img-responsive" style="width:50%" alt="Image">
      </a><label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> select
</label>
    </div>

    <div class="col-sm-3">
    <a href="#" class="thumbnail"> 
      <p>Hobbies</p>
      <img src="https://cdn2.iconfinder.com/data/iconsets/previews/medium-2x/movie-video.png" class="img-responsive" style="width:73%" alt="Image">
      </a><label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> select
</label>
    </div>

    <div class="col-sm-3">
    <a href="#" class="thumbnail">
      <p>Classified</p>
      <img src="http://blueskiesmag.com/wp-content/uploads/2014/02/icon-horn.jpg" style="width:50%" alt="Image">
      </a><label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> select
</label>
    </div>
  </div>
</div><br><br>   
 