
  <!-- Page Content -->
    <h2 class ="text-center row "
    <br></br><br>
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">

        <section>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="product_single">

                        <h1>Edit current Post</h1>

                        <h2>Title: <%@post.category.category_id%></h2>


                        <img src="/images/">

                        <span>
                        
                        <p>Description: <%@post.category_id.description%></p>
                        <p>Category: <%@post.category_id.category%></p>
                        </span>
                    </div>
                </div>
            </div>
        </section>
                

           

        </header>

        <p><a class="btn btn-primary btn-large">Save Post!</a>
            </p>





 




