<div>

 <h1 class="jumbotron hero-spacer">

	
</p>

	<div>

		<% @posts.each do |post|%>

		<p><%=post.category.category%></p>

		
		<p>Post: <%=post.title%></p>
		<p>Description:<%=post.description%></p>
		







		<% end %>

		

	</div>
			


	
