   



  


    <!-- Page Content -->
    <td>
<h1 class="jumbotron hero-spacer"><br><br>
    Your Current Post</h1>

    </td>

    <h2 class ="text-center row ">
    <br></br><br>
    <div class="container">

        <!-- Jumbotron Header -->
        

        <di><br><br>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="product_single">


                        
                        <h2>Title:</h2>
                        
                        <div>
                        <img src="#">
                        </div>
                        <span>
                        
                        
                        
                        </span>
                    </div>
                </div>
            </div>
        </div>
                
        <p>

            <a href ="/categories/#{@post.id}/destroy" class="btn btn-primary btn-large">Delete Post!</a>

            <a href="/categories/#{@product.id}/edit" class="btn btn-primary btn-large"> Edit Post!</a>

        </p>






        















