



  


    <!-- Page Content -->
    <td>

    <h1>FreeSF36Five</h1>

    </td>

    <h2 class ="text-center row "
    <br></br><br>
    <div class="container">

        <!-- Jumbotron Header -->
        <h1 class="jumbotron hero-spacer"><br><br>

        <di><br><br>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="product_single">

                        <h1>Your current Post</h1>
                        <h2>Title: <%@post%></h2>
                        
                        <div>
                        <img src="https://st.hzcdn.com/simgs/3c2178bb04b7e871_4-0276/contemporary-armchairs-and-accent-chairs.jpg">
                        </div>
                        <span>
                        
                        <p>Description: <%@post%></p>
                        <p>Category: <%@post%></p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
                
        <p>

            <a href ="/posts/#{destroy}" class="btn btn-primary btn-large">Delete Post!</a>

            <a href="/posts/edit" class="btn btn-primary btn-large"> Edit Post!</a>

        </p>






        















