// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
 
}



.city {
    float: left ;
   margin: 0 0 10px 10px;
    padding: 20px;
    max-width: 300px;
    height: 300px;
    border: 1px solid black;
} 
.header, .footer {
    background-color: grey;
    color: white;
    padding: 0px;
}

.column {
    float: left;
    padding: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 25%;
}

.content {
    width: 75%;
}
body {
    background-image: url("paper.gif");
    background-color: #cccccc;
}

