<p>Title: <%= @category.name %></p>
  
  <p>Category: 
    <ul>
      <% @categories.each do |category| %>
        <li><%=name %></li>
      <% end %>
    </ul>
  </p>

  <a class="btn btn-default" href="/categories/<%= @category.id %>/edit" role="button">Edit</a>

  <%= form_tag "/categories/#{@category.id}", method: :delete do %>
  <input class="btn btn-default" type="submit" value="Delete category">
  
<% end %>
  