




 <div class="container">

        <!-- Jumbotron Header -->

        <br><br>
        
        <header class="jumbotron hero-spacer">

            <h1>FreeSF36Five</h1>
        
        </header>

</div>   


  





 



        <div>

            <div class="thumbnail">

                

                <div class="caption">
               
                        
                   <table>
                   <tr>
      
                    <ul>


                  <% Category.all.each do |category| %>
                    <h1>

                      <%= link_to category.category, "/categories/#{category.id}" %>
                        

                    </h1>
                  <% end %>
                </ul>


              
                      </tr>

                    </table>
                        
                            
                     

         



                 

            </div>
        </div>
    </div>









