<div class="container">

        <!-- Jumbotron Header -->

        <br><br>
        
        <header class="jumbotron hero-spacer">

            <h1>FreeSF36Five</h1>
            <p>Category Show page </p>
            <P>THIS WILL SHOW SELECTED CATEGORY'S POST</P>

       
        </header>
</div>



</div>   


  <div>

      <div class="thumbnail">

                

        <div class="caption">
               
                        
          <table>

            <tr>
      
              <ul>


                  

                    <h1>
                      
                      *******************************
                      
                    </h1>
                 
              </ul>
            </tr>

          </table>
        </div>
      </div>
  </div>











        
   




            