<body>


    <div class="container"> 
      

           

      
             <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">

            <h1>FreeSF36Five</h1>
            
        </header>


        <hr>

    </div>


        
    <!-- Home div -->
           
    <div class="row text-center">



        <div class="col-md-3 col-sm-6 hero-feature">

            <div class="thumbnail">

                

                <div class="caption">
                <img src=alt="">


                    <h3>
                        <%=@category.category%>
                        
                        
                    </h3>


                    <p>
                        Join us in keeping San Francisco clean by getting free home Products from people trying to get rid of them
                    </p>

                    <p>
                        <a href="#" class="btn btn-primary">Add Post</a> <a href="/posts/new" class="btn btn-default">Go to</a>
                    </p>

            </div>
        </div>
    </div>

    




</body>








            